@page "/css"

<PageTitle>Blazor Loading Demo</PageTitle>

<NavLink href="svg">SVG Loading components -></NavLink>

<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100px;
    }
</style>

<div class="container">
    <BarsLoading Color="royalblue" Size="64" />
    <CircleLoading Color="royalblue" Size="64" />
    <DotsRingLoading Color="royalblue" Size="64" />
</div>

<div class="container">
    <DualRingLoading Color="royalblue" Size="64" />
    <EllipsisLoading Color="royalblue" Size="64" />
    <GridLoading Color="royalblue" Size="64" />
</div>

<div class="container">
    <HeartLoading Color="royalblue" Size="64" />
    <HourglassLoading Color="royalblue" Size="64" />
    <RingLoading Color="royalblue" Size="64" />
</div>

<div class="container">
    <RippleLoading Color="royalblue" Size="64" />
    <RollerLoading Color="royalblue" Size="64" />
    <SpinnerLoading Color="royalblue" Size="64" />
</div>