@page "/svg"

<PageTitle>Blazor Loading Demo - SVG</PageTitle>

<NavLink href="/">Home -></NavLink>
<NavLink href="css">CSS Loading components -></NavLink>
<NavLink href="bg">Background Loading components -></NavLink>

<br />
<br />

<style>
    a {
        display: block;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 150px;
        margin-bottom: 25px;
    }

    .wrapper {
        padding: 25px;
        text-align: center;
        background: #333;
    }
</style>

<div class="container">
    <div class="wrapper"><SunnyLoading Size="100" /></div>
    <div class="wrapper"><GiftLoading Size="100" /></div>
    <div class="wrapper"><AtomLoading Size="100" /></div>
    <div class="wrapper"><BallLoading Size="100" /></div>
    <div class="wrapper"><BallsLoading Size="100" /></div>
    <div class="wrapper"><BarChartLoading Size="100" /></div>
</div>

<div class="container">
    <div class="wrapper"><FadingBarsLoading Size="100" /></div>
    <div class="wrapper"><BasketballLoading Size="100" /></div>
    <div class="wrapper"><BeanEaterLoading Size="100" /></div>
    <div class="wrapper"><BlocksLoading Size="100" /></div>
    <div class="wrapper"><BlueCatLoading Size="100" /></div>
    <div class="wrapper"><BooksLoading Size="100" /></div>
</div>

<div class="container">
    <div class="wrapper"><BricksLoading Size="100" /></div>
    <div class="wrapper"><BubbleLoading Size="100" /></div>
    <div class="wrapper"><BucketLoading Size="100" /></div>
    <div class="wrapper"><CameraLoading Size="100" /></div>
    <div class="wrapper"><ChunkLoading Size="100" /></div>
    <div class="wrapper"><ClockLoading Size="100" /></div>
</div>
