@page "/svg"

<PageTitle>Blazor Loading Demo</PageTitle>

<NavLink href="css">CSS Loading components -></NavLink>

<br />

<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 150px;
        margin-bottom: 25px;
    }

    .wrapper {
        padding: 25px;
        text-align: center;
        background: #aaa;
    }
</style>

<div class="container">
    <div class="wrapper">
        <SunnyLoading Size="100" />
        <div style="margin-top:-25px">Loading...</div>
    </div>

    <div class="wrapper">
        <GiftLoading Size="100" />
    </div>

    <div class="wrapper">
        <AtomLoading Size="100" />
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <BallLoading Size="100" />
    </div>

    <div class="wrapper">
        <BallsLoading Size="100" />
    </div>

    <div class="wrapper">
        <BarChartLoading Size="100" />
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <FadingBarsLoading Size="100" />
    </div>

    <div class="wrapper">
        <BasketballLoading Size="100" />
    </div>

    <div class="wrapper">
        <BeanEaterLoading Size="100" />
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <BlocksLoading Size="100" />
    </div>

    <div class="wrapper">
        <BlueCatLoading Size="100" />
    </div>

    <div class="wrapper">
        <BooksLoading Size="100" />
    </div>
</div>
